<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BaiduYunDisk_Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>382225CF1F70C5F8008BA992</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>382225E31F70C5F8008BA992</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>382225EE1F70C5F8008BA992</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
